
/* side navigation bar */

.container {
    display: grid;
    grid-template-columns: 18vh auto 20vw;
    column-gap: 2rem;
    position: relative;
    margin-top: 5rem;
}

.sidebar_left {
    height: max-content;
    position: sticky;
    top: 10rem;
}

.profile {
    padding: 2rem;
    border-radius: 0.5rem;
    width: 100%;
}

.profile-link {
    display: flex;
    flex-direction: column;
    column-gap: 5rem;
    align-items: center;
    width: 100%;
}

.sidebar_left-links {
    margin-top: 1rem;
}

.sidebar-link {
    display: flex;
    align-items: center;
    cursor: pointer;
    column-gap: 1rem;
    border: 2px solid #222326;
    color: #ecf1f0;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.25rem 0.5rem;
}

.sidebar-link:hover {
    font-size: 1rem;
}

.fa {
    max-width: 1.25rem;
    max-height: 1.25rem;
    text-align: center;
}

.ask-buddy {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #222326;
    margin-top: -4rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.ask-buddy input[type="text"] {
    justify-self: start;
    background: transparent;
    padding-left: 1rem;
    outline: none;
    border: 0;
    margin-right: auto;
    width: 80%;
    font-size: 1rem;
    color: #ecf1f0;
}

.ask-buddy input[type="submit"] {
    color: #ecf1f0;
    background-color: #f26522;
    border: 0;
}

.ask-buddy .profile-pic {
    transform: scale(0.75);
}

/* post */

.post {
    background-color: #222326;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}

.post-content {
    padding: 4rem;
}

.post-content-footer {
    margin-top: 1rem;
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-content-tags {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 0.625rem;
}

.post-tag {
    background-color: hsl(0, 0%, 100%, 0.1);
    padding: 0.35rem;
    border-radius: 0.25rem;
}

.user-card {
    display: flex;
    gap: 0.25rem;
    font-size: 0.75rem;
    align-items: center;
}

.user-card-profile-pic {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 0.125rem;
    background-color: red; /* will be replaced by profile pic */
    filter: saturate(0%);
    margin-right: 0.5rem;
}

.user-card-profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.125rem;
}

/* left side navigation bar */

.sidebar_right {
    height: max-content;
    position: sticky;
    bottom: 0;
    width: 100%;
}

.sidebar_right-content{
    border-radius: 0.5rem;
    background-color: #222326;
    padding: 2rem 1rem;

}

.notifications-content,
.searchbox-content {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.searchbar {
    border-bottom: 1px solid #0a0a0c;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 0.85rem 1rem 0.85rem;
}

.searchbar input[type="text"] {
    outline: none;
    border: 0;
    background: transparent;
    margin-right: auto;
    color: #ecf1f0;
    width: 100%;
}

#search-btn {
    border: 0;
    background-color: transparent;
    color: #ecf1f0;
    cursor: pointer;
}

.is-hidden {
    visibility: hidden;
    display: none;
}

.recent-search-list {
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
}

.recent-search-item {
    background-color: #f26522;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem 0.25rem;
    color: #ecf1f0;
    font-size: 0.8rem;
}