* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #16171b;
    color: #ecf1f0;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
}

/* links */

a {
    color: #a2a2a4;
    text-decoration: none;
    transition: all 300ms;
}

a:hover {
    color: #ecf1f0;
}

/* lists */

li {
    list-style: none;
    display: inline-block;
    padding: 0rem 1rem;
}

/* navigation bar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 10rem 1.25rem;
    border-bottom: 1px solid hsl(0, 0%, 100%, 0.1);
}

.navbar_logo {
    margin-right: 2rem;
    letter-spacing: 0.04em;
    transition: transform 300ms;
}

.navbar_logo:hover {
    transform: scale(1.5);
}

.navbar_links {
    margin-right: auto;
}

/* buttons */

.button {
    color: #ecf1f0;
    border: 0.125rem solid #ecf1f0;
    padding: 0.75rem 1.5rem 0.6rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.04em;
    transition: font-size 300ms;
}

.button.is-small {
    padding: 0.5rem 1.25rem 0.35rem;
}

.button.is-large {
    padding: 1rem 2rem 0.85rem;
}

.button:hover {
    font-size: 1.0125rem;
}

.button#join-btn {
    margin-left: 0.5rem;
    border-color: #f26522;
}

.button#get_started-btn {
    color: #16171b;
    background-color: #ecf1f0;
    font-weight: 400;
}

/* footer */

footer {
    width: 100%;
    max-width: 80rem;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid hsl(0, 0%, 100%, 0.1);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* section header */

.header_viewport-80 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 80vh;
}

.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

#registration-msg {
    opacity: 0.6;
}

/* helpers-padding */

.padding-global {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}

.padding-small {
    padding: 1rem;
}

.padding-small-plus {
    padding: 1.5rem;
}

.padding-medium {
    padding: 2rem;
}

.padding-large {
    padding: 3rem;
}

.padding-section-small {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.padding-section-medium {
    padding-top: 6rem;
    padding-bottom: 6rem;
    /* line-height: 1.5; */
}

.padding-section-large {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.spacing-block {
    padding-top: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
}

.is-padding-bottom-only {
    padding-top: 0rem;
}

/* helpers-containers */

.container-small,
.container-small-plus,
.container-medium,
.container-large {
    width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
}

.container-small {
    max-width: 48rem;
}

.container-small-plus {
    max-width: 56rem;
}

.container-medium {
    max-width: 64rem;
}

.container-large {
    max-width: 80rem;
}

/* helpers-margin */

.align-center {
    margin-right: auto;
    margin-left: auto;
}

/* helpers-text */

.text-color-white {
    color: #ecf1f0;
}

.text-color-uj {
    color: #f26522;
}

.text-size-small {
    font-size: 0.875rem;
}

.text-size-medium {
    font-size: 1.25rem;
}

.text-size-large {
    font-size: 1.5rem;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

/* helpers-headings */

.heading-style-h1 {
    font-size: 5rem;
    font-weight: 300;
    line-height: 1.1;
}

.heading-style-h2 {
    font-size: 3.625rem;
    font-weight: 300;
    line-height: 1.25;
}

.heading-style-h3 {
    font-size: 2.625rem;
    font-weight: 400;
    line-height: 1.25;
}

.heading-style-h4 {
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 1.25;
}

.heading-style-h5 {
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.25;
}

.heading-style-h6 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}