
.question {
    /* background-color: #222326; */
    border-radius: 0.25rem;
}

.question-content {
    padding: 4rem;
}

#add-comment-btn {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #ecf1f0;
    border-radius: 0;
}

.answer {
    background-color: #222326;
    border-radius: 0.25rem;
}

.answer-content {
    padding: 4rem 4rem 2rem;
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.answer-content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.answer-content-footer {
    margin-top: 1rem;
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.answer-comment {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0rem 1rem 1rem;
    border-bottom: 1px solid hsl(0, 0%, 100%, 0.1);
}

.comment-text {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.text-muted {
    opacity: 0.6;
}

.answer-vote {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.answer-vote a {
    background-color: #16171b;
    border: 0;
    cursor: pointer;
    color: #ecf1f0;
    transition: transform 300ms, color 500ms;
    padding: 0.85rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.125rem;
}

.answer-content .user-card-profile-pic{
    width: 2rem;
    height: 2rem;
}

.answer-content .user-card-info{
    display: flex;
    align-items: flex-end;
}

.answer-vote > a:hover {
    transform: scale(1.2);
}

#downvote-btn:hover {
    color: red;
}

#upvote-btn:hover {
    color: green;
}